/* Configure */
:root {
    --lightBlue: #0047BA;
    --darkBlue: #002169;
    --hoverCol: #153885;
    --realLightBlue: #DEEFF5;
    --darkGreen: #00524C;
    --lightGreen: #CDECE2;
    --green: #008761;
}

body {
    font-family: 'Roboto', sans-serif;
}

*,
:before,
:after {
    transition: .3s ease;
}

:focus {
    outline: unset;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}

.btn {
    border: unset;
    background: unset;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
}

.btn:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.24);
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.2);
}

.btn-white-border {
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 10px 24px;
}

.green-btn {
    background: var(--green);
    color: #fff;
}

.light-green-btn {
    background: var(--lightGreen);
}

.green-border-btn {
    border: 1px solid var(--green);
}

.light-green-border {
    border: 1px solid var(--lightGreen);
}

.blue-border {
    border: 1px solid var(--lightBlue);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-large {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

/* Configure */

/* Header */

.header {
    background: var(--lightBlue);
    color: #fff;
}

.header .header__uper {
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-select {
    display: flex;
}

.header-select__item {
    background: var(--darkBlue);
    width: 153px;
    height: 51px;
    background: #002169;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.header-select__item:not(.active):hover {
    background: var(--hoverCol);
}

.header-select__item:not(:first-child) {
    margin-left: -43px;
}

.header-select__item:nth-child(2) {
    z-index: 2;
}

.header-select__item.active {
    background: #fff;
    color: #000;
}

.login {
    background: var(--darkBlue);
    padding: 0 45px 0 35px;
    height: 51px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;

    cursor: pointer;
}

.login:hover {
    background: var(--hoverCol);
}

.login svg {
    margin-right: 35px;
}

.header-nav {
    margin-top: -25px;
    background: #fff;
    border-radius: 24px;
}

.header__menu>ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

.header__menu a {
    color: #000;
    text-decoration: none;
    position: relative;
}

.header__menu a:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--darkBlue);
    opacity: 0;

}

.header__menu a:hover:after {
    opacity: 1;
    transform: translateY(10px);
}

.has-child-menu ul {
    max-height: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    transition: unset;
    transition: max-height 0.15s ease-out;
}

.has-child-menu:hover ul {
    max-height: 1000px;
    overflow: unset;
    transition: max-height 0.25s ease-in;
}

.has-child-menu {
    position: relative;
}

.has-child-menu ul a {
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
}

.has-child-menu ul a:hover:after {
    transform: translateY(5px);
}

.has-child-menu li {
    margin: 0 14px;
    margin-bottom: 14px;
}

.has-child-menu li:first-child {
    margin-top: 14px;
}

/* Header */

/* Hero */

.hero {
    padding-top: 130px;
    padding-bottom: 100px;
}

.hero img {
    border-radius: 24px;
    width: 100%;
}

.hero h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.hero__info {
    max-width: 336px;
    width: 100%;
    max-height: 215px;
    height: 100%;
    border-radius: 24px;
    padding: 30px 82px;
    text-align: center;
    margin: 0 auto;
    margin-top: -160px;
    background: #fff;
    position: relative;
}

.hero__info:hover {
    transform: translateY(-5px);
}

/* Hero */

/* Advantages */


.advantages .container {
    display: flex;
    margin-bottom: 190px;
    justify-content: space-between;
}

.advantages__item {
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    padding: 40px 0 60px 0;
    max-width: 430px;
    text-align: center;
    width: 100%;
    position: relative;
    text-decoration: none;
    color: #000;
}

.advantages__item:hover svg {
    transform: translateX(10px);
}

.advantages__item h3 {
    max-width: 194px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.advantages__item p {
    max-width: 220px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 28px;
}

.advantages__item svg {
    position: absolute;
    top: 40px;
    right: 60px;
}

/* Advantages */


/* Registr */

.registr {
    background: var(--realLightBlue);
    color: #333;
    padding: 55px 0 100px 0;
}

.registr .container {
    display: flex;
    align-items: center;
}

.registr__info {
    max-width: 590px;
}

.registr__img {
    max-width: 324px;
    height: 324px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: -252px;
    background: var(--realLightBlue);
}

.registr h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

.registr p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 24px 0;
}

.registr:not(.bolig-registr) a {
    font-weight: 500;
    font-size: 18px;
    line-height: 48px;
    color: #333;
    display: flex;
    align-items: center;
}

.registr a:hover svg {
    transform: translateX(5px);
}

.registr a svg {
    margin-left: 12px;
}

/* Registr */

/* Kontingen */

.kontingen {
    color: #fff;
    margin-bottom: 150px;
}

.kontingen__content {
    display: flex;
    align-items: center;
    background: var(--darkGreen);
    margin-top: 125px;
    border-radius: 48px;
    justify-content: space-between;
}

.kontingen__content img {
    border-radius: 0 48px 48px 0;
}

.kontingen__info {
    max-width: 645px;
    margin-left: 55px;
}

.kontingen__info h2,
.kontingen__info p {
    margin-right: 25px;
}

.kontingen__info h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 24px;
}

.kontingen__info p {
    font-size: 18px;
    line-height: 32px;
}

.kontingen__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.kontingen__btns .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    border-radius: 12px;
}

.kontingen__btns .btn:last-child {
    color: #fff;
}

/* Kontingen */

/* Articles */

.articles {
    padding-bottom: 150px;
}

.articles .container {
    display: flex;
    justify-content: space-between;
}

.articles__item {
    display: block;
    max-width: 448px;
    border-radius: 24px;
    color: #333;
    text-decoration: unset;
    line-height: 0;
}

.articles__item:hover {
    transform: scale(1.01);
}

.articles__item:hover .article__info {
    border-color: var(--lightBlue);
}

.articles__item img {
    border-radius: 24px 24px 0 0;
    margin-bottom: -1px;
}

.articles__item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 16px;
}

.articles__item p {
    font-size: 16px;
    line-height: 28px;
}

.article__info {
    padding: 32px;
    padding-bottom: 54px;
    border: 2px solid #E6E6E6;
    border-top: 0;
    border-radius: 0 0 24px 24px;
}

/* Articles */

/* Livene */

.livene {
    color: #333;
    margin-bottom: 220px;
}

.livene .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.livene img {
    border-radius: 24px;
}

.livene__info {
    max-width: 590px;
}

.livene__info h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

.livene__info p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.livene__info .btn {
    color: #333;
    border: 2px solid #008761;
    border-radius: 12px;
    padding: 10px 24px;
}

/* Livene */

/* Lettre */

.lettre {
    border-radius: 24px;
    background: #fff;
    padding-bottom: 50px;
    margin-bottom: -25px;
    position: relative;
}

.lettre__btns {
    margin-top: 24px;
}

.lettre__btns .btn {
    border: 2px solid var(--green);
    padding: 10px 25px;
    border-radius: 12px;
}

.lettre__btns .btn:hover {
    background: var(--green);
    color: #fff;
}

.lettre__btns .btn:first-child {
    margin-right: 16px;
}

.footer {
    background: var(--lightBlue);
    color: #fff;
    padding-top: 89px;
    padding-bottom: 80px;
}

.footer a,
.footer button {
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
}

.footer h4 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}

.footer-menu {
    font-size: 16px;
    line-height: 36px;
}


.footer-upper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 54px;
    position: relative;
}

.footer-upper:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: .5px;
    background: #fff;
    bottom: 0;
}

.footer-contact__items {
    margin-bottom: 32px;
}

.footer-contact__item {
    display: flex;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
}

.footer-contact__item:not(:last-child) {
    margin-bottom: 22px;
}

.footer-contact__item svg {
    margin-right: 15px;
}

.footer-down h5 {
    font-size: 16px;
    line-height: 28px;
    margin-right: 24px;
}

.footer-down {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.footer-down nav {
    display: flex;
    align-items: center;
}

.footer-down nav ul {
    display: flex;
}

.footer-down nav li:not(:last-child) {
    margin-right: 24px;
}

/* Lettre */

/* Catalog */

.catalog {
    padding-top: 100px;
    padding-bottom: 400px;
}

.catalog__info {
    text-align: center;
    margin-bottom: 275px;
}

.catalog .catalog__content {
    display: flex;
    justify-content: space-between;
}

.filter-sidebar {
    width: 100%;
    max-width: 328px;
}

.product {
    color: #333;
    max-width: 935px;
    text-decoration: unset;
    display: block;
    margin-bottom: 20px;
}

.product h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.product .product__content {
    display: flex;
    justify-content: space-between;
    color: #333;
    max-width: 935px;
    text-decoration: unset;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    border-radius: 18px 0 0 18px;
}

.product__info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-right: 70px;
}

.product__address {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.product__reject {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkGreen);
    background: var(--lightGreen);
    display: inline-block;
    padding: 7px;
    border-radius: 4px;
}

.product__properties {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 55px;
}

.product__properties p {
    font-size: 22px;
    line-height: 26px;
}

.product__info ul {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    padding-left: 20px;
}

.product__info li {
    margin-right: 30px;
}

.product__info {
    padding-left: 35px;
    padding-top: 25px;
    padding-right: 45px;
    border: 1px solid #E6E6E6;
    border-left: 0;
    border-radius: 0 18px 18px 0;
}

.product:hover .product__info {
    border-color: var(--darkBlue);
}

.catalog__sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 125px;
}

.catalog__sort select {
    padding: 10px;
    padding-right: 100px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.catalog__sort h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}

/* Catalog */

/* Bolig */

.hero-bulig h1 {
    text-align: center;
    margin-bottom: 90px;
}

.bolig-registr,
.bolig-registr .registr__img {
    background: #F1F1F1;
}

.bolig__items {
    display: flex;
    justify-content: space-between;
}

.bolig__item {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 677px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.bolig__item:hover {
    border-color: var(--lightBlue);
    transform: translateY(-5px);
}

.bolig__item .img-wrap {
    background: #F0F4FB;
    border-radius: 50%;
    width: 177px;
    height: 177px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrap img {
    max-width: 150px;
    max-height: 150px;
}

.bolig__item h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: var(--lightBlue);
    margin-top: 55px;
    margin-bottom: 35px;
}

.bolig__item p {
    font-size: 22px;
    line-height: 28px;
    max-width: 395px;
}

.registr-btns {
    display: flex;
}

.registr-btns .btn {
    padding: 10px 24px;
    display: block;
}

.registr-btns .green-border-btn {
    color: #333;
    margin-left: 24px;
}

/* Bolig */

/* Housing */

.hero-housing {
    margin-bottom: 145px;
}

.hero-housing .bolig__item {
    max-width: 310px;
    padding-top: 60px;
    padding-bottom: 70px;
}

.bolig__item {
    max-width: 677px;
}

.hero-housing .bolig__item h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.hero-housing p {
    font-size: 16px;
    line-height: 19px;
    max-width: 195px;
}

.housing-livene .livene__info {
    max-width: 550px;
}

.housing-livene .btn {
    border: 2px solid var(--lightBlue);
    font-weight: 700;
    color: var(--lightBlue);
}

/* #######################
Gallery
*/

.gallery-section {
    margin-bottom: 230px;
}

.gallery-expand {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 40px;
    background: #fff;
    border-radius: 0;
}

.gallery__wrap {
    position: relative;
}

.gallery {
    position: relative;
    display: block;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 30px;
}

.gallery .slick-list {
    overflow: hidden;
}

.gallery .slick-slide {
    outline: none !important;
}

.gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    height: 65px;
    border-radius: 50%;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    z-index: 10;
    cursor: pointer;
    transition: background .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-arrow:hover {
    background: var(--darkBlue);
}

.gallery-arrow:hover svg path,
.gallery-arrow:hover svg rect {
    fill: #fff;
}

.gallery-arrow.mod-prev {
    left: 20px;
}

.gallery-arrow.mod-next {
    right: 20px;
}

.gallery-item {
    position: relative;
    float: left;
    vertical-align: middle;
    text-align: center;
}

.gallery-img-holder {
    display: inline-block;
    width: auto;
    height: auto;
}

.gallery-img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.slick-lightbox .slick-arrow {
    z-index: 10;
}

ul.slick-dots {
    bottom: 0;
}

.slick-dots li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.slick-dots li.slick-active {
    background: var(--darkBlue);
}

.slick-dots li button {
    border: 1px solid var(--darkBlue);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    opacity: 1;
}

.slick-dots li button:hover {
    background: var(--darkBlue);
}

.slick-dots li button:before {
    display: none;
}

.slick-lightbox-slick-img {
    border-radius: 24px;
}


.slick-prev,
.slick-next {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
}

.slick-next:before {
    content: url(../img/slider_arrow.svg);
}

.slick-prev:before {
    content: url(../img/slider_left.svg);
}

.slick-prev:hover,
.slick-next:hover {
    background: var(--darkBlue);
}

.slick-prev:hover::before,
.slick-next:hover::before {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(104%) contrast(103%);
}

.gallery-item__info {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: left;
    padding-left: 150px;
    border-bottom: 1px solid #F1F1F1;
}

.gallery-item__info a {
    color: var(--lightBlue);
}

.gallery-section h2 {
    text-align: center;
    margin-bottom: 45px;
}

/* #######################
Gallery
*/

/* Housing */


/* *********************
Explore new
*/

.explorenew-hero h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
}

.explorenew-hero p {
    font-size: 24px;
    line-height: 28px;
    max-width: 900px;
    margin: 0 auto;
}

.explorenew-hero {
    text-align: center;
    padding-top: 180px;
    padding-bottom: 225px;
}

.explore__item {
    display: flex;
    color: #000;
    text-decoration: none;
    margin-bottom: 125px;
}

.explore__item-info h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
}

.explore__item-info p {
    font-size: 16px;
    line-height: 42px;
    max-width: 420px;
}

.explore__item-info {
    text-align: center;
    background: #fff;
    border-radius: 24px;
    position: relative;
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore__item.right .explore__item-info {
    margin-right: -20px;
    padding-right: 24px;
}

.explore__item img {
    max-width: 790px;
}

.explore__item.right img {
    border-radius: 0 24px 24px 0;
}

.explore__item.right:hover .explore__item-info {
    margin-right: 0;
}

.explore__item.left .explore__item-info {
    margin-left: -20px;
    padding-left: 24px;
}

.explore__item img {
    max-width: 790px;
}

.explore__item.left img {
    border-radius: 24px 0 0 24px;
}

.explore__item.left:hover .explore__item-info {
    margin-left: 0;
}

.explore__item:hover img {
    border-radius: 24px;
}

/* *********************
Explore new
*/


/* *********************
Delay
*/

.delay-hero .hero__info {
    max-width: 720px;
    max-height: unset;
    margin-bottom: 250px;
}

.delay-hero p:not(.subtitle) {
    font-size: 14px;
    line-height: 30px;
}

.delay-hero .hero__info>* {
    max-width: 530px;
    margin: 0 auto;
}

.delay-hero__text {
    text-align: left;
}

.delay-hero .hero__info h2 {
    margin-top: 40px;
}

.delay-hero .hero__info h1 {
    margin-bottom: 30px;
}

.hero__info .subtitle {
    margin-bottom: 20px;
}

/* *********************
Delay
*/



/* *********************
Single
*/

.single-hero {
    text-align: center;
}

.single-hero h1 {
    margin: 80px 0;
}

.single-hero img {
    width: 100%;
}

.single-hero h2 {
    font-size: 40px;
    line-height: 47px;
    margin-top: 160px;
    margin-bottom: 40px;
}

.single-hero p {
    max-width: 605px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.steps__circle {
    width: 40px;
    height: 40px;
    background: var(--darkBlue);
    border-radius: 50%;
}

.steps__items {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
}

.steps__line {
    position: absolute;
    width: 100%;
    height: 5px;
    left: 60px;
    background: var(--darkBlue);
    max-width: 800px;
    top: 70%;
}

.steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.steps__item span {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
}

.steps__item.active .steps__circle {
    background: #C4C4C4;
    width: 22px;
    height: 22px;
    border: 8px solid var(--darkBlue);
}

.single__infos-item {
    border: 2px solid #E6E6E6;
    border-radius: 15px;
    padding-top: 20px;
}

.single__infos {
    display: flex;
    justify-content: space-between;
}

.single__col-1 {
    max-width: 530px;
}

.single__col-2 {
    max-width: 525px;
}

.single__infos-item h3 {
    font-size: 23px;
    line-height: 27px;
    text-align: center;
}

.key-info__table {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.key-info__table ul {
    list-style: none;
}

.key-info {
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 55px;
}

.key-info__table ul:first-child li {
    font-weight: bold;
}

.key-info__table ul li {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 23px;
}

.refusal-info {
    padding-right: 85px;
    padding-left: 85px;
    padding-bottom: 55px;
    margin-top: 40px;
}

.view {
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 99%;
}

.single__infos-item p {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 40px;
}

.single__infos-item .green-border-btn {
    color: var(--green);
    padding: 15px;
    font-size: 20px;
    line-height: 23px;
    display: block;
    margin: 0 auto;
    margin-top: 85px;
}

.map {
    text-align: center;
    padding: 120px 0 170px;
}

.map img {
    margin-top: 50px;
    border-radius: 32px;
}

.related {}

.related .container>h2 {
    text-align: center;
}

.related .catalog__wrap {
    margin-top: 110px;
}

.related .product {
    margin: 0 auto;
    margin-bottom: 35px;
}

.product__variations-head {
    padding: 15px 0;
    background: var(--darkBlue);
    color: #fff;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.product__variations-head:hover {
    background: var(--lightBlue);
}

.product__variations-head svg {
    position: absolute;
    right: 15px;
    top: 50%;
}

.product__variations-head.active svg {
    transform: rotate(180deg);
}

.product-withvars img {
    border-radius: 18px 0 0 0;
}

.product-withvars .product__info {
    border-radius: 0 18px 0 0;
    border-bottom: 0;
}

.product-withvars:hover {
    transform: unset;
}

.product__variation-items {
    max-height: 0;
    overflow: hidden;
    transition: unset;
}

.product__variations-head.active+.product__variation-items {
    max-height: 999999px;
    overflow: unset;
}

/* related */

.variation__head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: span 2;
    height: 48px;
    padding-left: 15px;
    padding-right: 20px;
    background: #F1F1F1;
}

.variation__head>* {
    display: flex;
    align-items: center;
}

.variation__head a {
    text-decoration: unset;
    margin-right: 30px;
}

.variation__head>span {
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
}

.variation__head>a:last-child {
    justify-content: flex-end;
}

.variation-product {
    width: 100%;
    text-align: center;
}

.variation-product th {
    padding-top: 10px;
    padding-bottom: 15px;
}

/* related */
/* *********************
Single
*/